body {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
}

.header {
    max-width: 1515px;
    height: 100px;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1512px;
    background: #FFFFFF;
    border-bottom: 1px solid #E0DFDE;
}

.header__logo {
    text-align: center;
    width: 1512px;
    height: 100px;
    text-decoration: none;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8B7969;
}