.confirm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 1512px;
    background-color: #F1ECE7;
}

h2 {
    margin: 50px;
    text-align: center;
    font-size: 35px;
    font-weight: 200;
    color: #8B7969;
}

.cofirm-table {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;

}

.confirm-table__inner {
    width: 972px;
    height: 606px;
    margin: 70px auto;
    border: 1px solid #C5B9B0;
    border-collapse: none;
}

.confirm-form__row {
    display: flex;
    padding: 10px 0;
    width: 445px;
    height: 70px;
}

.confirm-table__item-label {
    width: 305px;
    font-size: 20px;
    background-color: #BAA899;
    color: #ffffff;
    padding-left: 30px;
}

.confirm-table__item-input {
    width: 305px;
    font-size: 20px;
    color: #8B7969;
    padding-left: 30px;
}